@import "tailwindcss";
.scrollbar-hide {
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
    scrollbar-width: thin; /* Make it very thin instead of none */
}

.scrollbar-hide::-webkit-scrollbar {
    width: 0px; /* Instead of display: none, set width to 0 */
    height: 0px;
}
  